:root .themeComplete {
  --form-control-color: green;
}
.themeArea {
  padding-left: 0;
  margin-left: 5px;
}
/* .themeComplete {
  max-width: 10%;
} */
.main {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
/* .textTheme {
  max-width: 70%;
} */

.basket {
  width: 15px;
  height: 15px;
  /* max-width: 10%; */
  /* padding-right: 25px; */
  background-image: url("../../../assets/free-icon-remove-folder-circular-button-first.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.basket:hover {
  background-image: url("../../../assets/free-icon-remove-folder-circular-button-second.png");
}

.addTheme {
  background-color: beige;
  border-radius: 3px;
}

h3 {
  margin: 5px;
}
.forTheme {
  display: flex;
  flex-direction: row;
}
.containerInputTheme {
  overflow: hidden;
  white-space: normal;
}
.inputNewTheme {
  width: 90%;
}
@media screen and (max-width: 500px) {
  .forTheme {
    flex-direction: column;
  }
  .inputNewTheme,
  textarea {
    width: 100px;
  }
}
